<header class="text-white bg-black">
    <div class="container mx-auto flex justify-between items-center p-4">
        <h1 class="text-3xl font-mate-sc">ABSOLUTE CINEMA</h1>
        <nav class="space-x-6 font-popins hidden md:flex absolute left-1/2 transform -translate-x-1/2">
            <a href="#" class="hover:text-yellow-500">Home</a>
            <a href="/movies" class="hover:text-yellow-500">Movies</a>
            <a href="#" class="hover:text-yellow-500">Contact Us</a>
            <a href="#" class="hover:text-yellow-500">Login</a>
        </nav>
        <select class="text-black text-sm rounded-lg block p-2.5 dark:bg-black dark:border-black dark:placeholder-black dark:text-white ml-auto mx-3">
            <option class="hover:bg-yellow-500" value="all">All Locations</option>
            <option class="hover:bg-yellow-500" value="jakarta">Jakarta</option>
            <option class="hover:bg-yellow-500" value="bandung">Bandung</option>
            <option class="hover:bg-yellow-500" value="surabaya">Surabaya</option>
            <option class="hover:bg-yellow-500" value="yogyakarta">Yogyakarta</option>
        </select>
        <div class="relative max-w-xs md:max-w-md lg:max-w-lg mt-4 md:mt-0">
            <input type="text" placeholder="Search..." class="w-full bg-black text-white px-4 py-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-yellow-500">
            <button class="absolute right-0 top-0 mt-2 mr-2 text-yellow-500 hover:text-yellow-600">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M12.9 14.32a8 8 0 111.414-1.414l4.387 4.387a1 1 0 01-1.414 1.414l-4.387-4.387zM8 14a6 6 0 100-12 6 6 0 000 12z" clip-rule="evenodd" />
                </svg>
            </button>
        </div>
    </div>
</header>